@using MVCExample.Web.Models.Superheroes

@model IEnumerable<SuperheroViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @*@Html.ActionLink("Create New", "Create")*@
</p>
<table>
    <thead>
        <tr>
            <th>Superheroe Name</th>
            <th>Superheroe Name</th>
            <th>Is Alien???</th>
            <th>Real Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink(item.Name, "Details", new { Id = item.Id });                
                </td>
                <td>
                    @{ 
                        var href = $"/Superheroes/Details/{item.Id}";
                    }
                    <a href="@href">
                        @item.Name
                    </a>
                </td>
                <th>@item.IsAlien</th>
                <th>@item.RealName</th>
            </tr>
        }
    </tbody>
</table>
